.table tr{
    background-color: black;
}
.tv{
    /* display: flex;
    justify-content: center; */

    padding-left: 50%;
}
body{
    background-color: #e9edee;
    margin: 0;
}
table tr td input{
   
     background-color:#ff9e01;
    
}

.product tr td{
   
    background-color: white;
    
}
table{
    border-spacing: 15px;
}
.product{
width: 100%;
}
